@use 'banners';

.recipe-edit-container {
  max-width: 860px;
  min-width: 320px;
  margin: 0 auto;
  padding: 1.25rem 1rem;
}

.loading {
  padding: 4rem 0;
}

@media (min-width: 768px) {
  .recipe-edit-container {
    padding: 2rem 1.5rem;
  }
}
