@use 'banners';
@use 'breakpoints' as bp;

.recipe-edit-container {
  max-width: 860px;
  min-width: 320px;
  margin: 0 auto;
  padding: var(--yn-space-6) var(--yn-space-5);
}

.loading {
  padding: 4rem 0;
}

@include bp.respond-to('md') {
  .recipe-edit-container {
    padding: var(--yn-space-8) var(--yn-space-7);
  }
}
