.offline-banner {
  background-color: var(--yn-danger);
  color: #fff;
  text-align: center;
  padding: 8px;
  font-size: 14px;
}

.online-banner {
  background-color: var(--yn-success);
  color: #fff;
  text-align: center;
  padding: 8px;
  font-size: 14px;
}
